<% include header %>
    <style>
        .div404 {
            width: 450px;
            margin: 0 auto;
            padding-top: 150px;
            font-size: 220px;
            font-weight: 700;
        }
    </style>
    <div class="div404">404</div>
<% include footer %>