<% include header %>
<style>
    .div500 {
        width: 450px;
        margin: 0 auto;
        padding-top: 150px;
        font-size: 220px;
        font-weight: 700;
    }
</style>
<div class="div500">500</div>
<% include footer %>