<div class="modal-page pushable dimmable dimmed ">
</div>
</div>
<div class="ui mini modal" id="signIn">
    <div class="header">登录</div>
    <div class="content">
        <div class="ui form field">
            <div class="field">
                <div class="ui fluid icon input">
                    <input id="loginEmail" type="email" v-model="User.Email" placeholder="请输入BiHu邮箱名">
                    <i class="mail icon"></i>
                </div>
            </div>
            <div class="field">
                <div class="ui fluid icon input">
                    <input id="loginPwd" type="password" v-model="User.Pwd" placeholder="请输入密码">
                    <i class="lock icon"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui cancel button">取消 </div>
        <div class="ui positive right labeled icon button">登录
            <i class="chevron right icon"></i>
        </div>
    </div>
</div>
<script>
    function bindLogin() {
        $('#loginIn')
            .dropdown({
                onChange: function (value) {
                    if (value == 1)
                        location.href = "/mycenter/index";
                    if (value == 2)
                        location.href = '/home/signout'
                }
            });
    }
    var vmLogin = new Vue({
        el: '#menu',
        data: function () {
            return {
                User: {
                    Email: '',
                    Pwd: '',
                    ReadMe: 0
                },
                isLogin:<%= isLogin %>,
                loginName:<%= isLogin %> ? '退出' : '登录'
            };
        },
        filter: {

        },
        methods: {
            showLogin: function () {
                if (this.isLogin)
                    return location.href = '/home/signout';
                var _self = this;
                $('#signIn')
                    .modal({
                        blurring: true,
                        onApprove: function () {
                            _self.loginIn();
                        }
                    })
                    .modal('show');
            },
            loginIn: function () {
                var _self = this;
                if (!helper.bihuEmail(this.User.Email))
                    return helper.toolTipBox("邮箱地址格式不正确");
                if (!helper.pwd(this.User.Pwd))
                    return helper.toolTipBox("密码格式不正确");
                var req = $.ajax({
                    type: 'POST',
                    url: '/home/signin',
                    data: this.User,
                    dataType: "JSON",
                    cache: false,
                    beforeSend: function () {

                    }
                });
                req.done(function (res) {
                    if (res == null || res == "") {
                        return helper.toolTipBox("登录失败");
                    }
                    if (res.status != undefined && res.status == -1) {
                        return helper.toolTipBox(res.msg);
                    }
                    if (!res.MsgStatus) {
                        return helper.toolTipBox(res.MsgContent);
                    }
                    if (res.MsgStatus) {
                        helper.toolTipBox('登录成功');
                        console.log(res.MsgContent);
                        _self.isLogin=true;
                        bindLogin();
                        window.location.reload();
                    }

                });
                req.fail(function (jqXHR, textStatus, error) {
                    if (error) {
                        if (textStatus == "timeout") {
                            return helper.toolTipBox("请求超时！");
                        }
                        else if (textStatus == "error") {
                            return helper.toolTipBox("网络连接超时！");
                        }
                    }
                });
                req.always(function () {
                    //所有的走完之后调用的数据
                });
            }
        },
        mounted: function () {
            var _self = this;
            $('#loginEmail').change(function () {
                _self.User.Email = $(this).val();
            });
            $('#loginPwd').change(function () {
                _self.User.Pwd = $(this).val();
            });
            bindLogin();
        }
    });
    $(function () {
        bindLogin();
    });
</script>
</body>

</html>