<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMS -
        <%= title %>
    </title>
    <link rel="stylesheet" href="/content/semantic.css">
    <link rel="stylesheet" href="/content/iconfont/iconfont.css">
    <link rel="stylesheet" href="/content/calendars/calendar.css">
    <link rel="stylesheet" href="/content/dialog.css">
    <link rel="stylesheet" href="/content/index.css">

    <script src="/scripts/jquery/jquery-3.1.1.js"></script>
    <script src="/scripts/ctrl/bhConfig.js"></script>
    <script src="/scripts/ctrl/helper.js"></script>
    <script src="/scripts/vue.js"></script>
    <script src="/scripts/semantic.js"></script>
    <script src="/content/iconfont/iconfont.js"></script>
    <script src="/scripts/calendars/calendar.js"></script>
    <script src="/scripts/artDialog/dialog-plus.js"></script>
    <script src="/scripts/moment/moment.js"></script>
    <script src="/scripts/ctrl/home.js"></script>
    <script src="/scripts/component/vue-pagination.js"></script>
</head>

<body>
    <div class="ui container">
        <div class="ui menu">
            <a class="header item active" href="/home/index">首页</a>
            <a class=" item" href="/analysis/index">考勤转换</a>
            <div class="ui dropdown item">
                其他
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="/home/about">关于</a>
                    <div class="item">版本: v1.5</div>
                </div>
            </div>
            <div class="title-center">
                Attendance Management System(考勤管理系统)
            </div>
            <div class="right menu" id="menu">
                <a class="item active" v-if="!isLogin" id="showLogin" v-on:click="showLogin">
                    <i class="user outline icon"></i>
                </a>
                <div class="ui item top right pointing dropdown" v-if="isLogin" id="loginIn">
                    <i class="user circle icon"></i>
                    <div class="menu">
                        <div class="item" data-value="1">
                            <i class="block layout icon"></i> 个人中心</div>
                        <div class="item" data-value="2">
                            <i class="sign out icon"></i> 退出</div>
                    </div>
                </div>
            </div>
        </div>