body {
    padding: 1em 15%;
    min-width: 790px;
}

.container.body-content {
    min-width: 640px;
}

.bodyContent {
    margin-top: 60px;
}

.title-center {
    font-size: 16px;
    width: 60%;
    text-align: center;
    line-height: 40px;
}

.height15 {
    margin-top: 15px;
}
.p-active {
    border-top: none !important;
    padding-top: 0.92857143em !important;
    background-color: rgba(0, 0, 0, 0.05) !important;
    color: rgba(0, 0, 0, 0.95) !important;
    box-shadow: none !important;
}
.pagination>.active{
    background-color:#fff;
}
